@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-bg-main: #ffffff;
    --color-primary: #3a8ef6;
    --color-accent: #6f42c1;
    --color-accent-orange: #ff934f;
    --color-accent-blue: #4977d2;
    --color-accent-green: #5e9b57;
    --color-subtle-bg: #f5f6fa;
    --color-heading: #2f3850;
    --color-heading2: #1e2b40;
    --color-heading-light: #f0f0f0;
    --color-text: #3c5a6a;
    --margin: 7%;
    --margin-header: 5%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
}

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 2s all ease;
  }
  
*.active{
    transform: translateY(0);
    opacity: 1;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--color-bg-main);
    font-size: 1.3rem;
    background-image: radial-gradient(#cfcfcf 1px, transparent 0);
    background-size: 35px 35px;
    background-attachment: fixed;
}

header {
    background: var(--color-accent-orange);
    padding: 2rem;
    height: 50rem;
    margin: 0 2% 5rem 2%;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, var(--color-primary), var(--color-accent));
}

nav {
    display: flex;
    gap: 5%;
    margin-left: var(--margin-header);
    margin-right: var(--margin-header);
    margin-bottom: 5rem;
}

nav a {
    text-decoration: none;
    color: var(--color-heading-light)
}

header > div {
    display: flex;
}

header > div > div {
    margin-left: var(--margin-header);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-size: 5rem;
    font-weight: 400;
    color: var(--color-heading-light);
    line-height: 1;
}

div h1:nth-child(1) {
    font-size: 12rem;
    font-weight: 800;
    color: var(--color-subtle-bg);
}

header img {
    margin-right: var(--margin-header);
    width: 40%;
    height: auto;
    object-fit: contain;
    filter: opacity(90%) invert();
}

main {
    margin: 0 var(--margin);
    padding: 2rem;
}

h2 {
    font-size: 4rem;
    font-family: "Rubik", sans-serif;
    color: var(--color-heading);
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}

h3 {
    font-size: 4rem;
    color: var(--color-heading);
    margin-bottom: 1rem;
}

main p {
    color: var(--color-text);
}

main > div {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#about {
    display: flex;
    gap: 10%;
    background: linear-gradient(to right, #e6f0ff, #f0f5ff);
    padding: 4rem;
    border-radius: 3rem;
}

#about h2 {
    width: 40%; 
    text-align: left;
}

#about p {
    width: 60%;
}

#demographic > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1rem;
    justify-content: center;
}

#demographic > div > div {
    background: linear-gradient(145deg, var(--color-primary), var(--color-accent));
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 2%;
    align-items: center;
    width: 100%;
}

#demographic i {
    font-size: 4rem;
}

#demographic p, #demographic i {
    color: white;
}

#theme > div {
    display: flex;
    gap: 10%;
    background: linear-gradient(145deg, var(--color-primary), var(--color-accent));
    padding: 4rem;
    border-radius: 3rem;
}

#theme img {
    min-width: 40%;
    border-radius: 2rem;
}

#theme h3 {
    font-size: 3rem;
    font-family: "Rubik", sans-serif;
    color: var(--color-subtle-bg);
    font-weight: 600;
    margin-bottom: 2rem;
}

#theme p {
    color: #f0f0f0f3;
}

#topics > div {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 5%;
}

#topics > div > div {
    width: 30%;
    /* background: linear-gradient(145deg, #4977d2, #4dabf7); */
    background: linear-gradient(145deg, var(--color-primary), var(--color-accent));
    padding: 2rem;
    border-radius: 2rem;
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

#topics i {
    font-size: 4rem;
    margin-bottom: 2rem;
}

#topics p {
    color: white;
}

.awards {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 2rem;
    margin-bottom: 4rem;
}

.awards > div {
    background: linear-gradient(145deg, var(--color-accent-orange), #ff5d22);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 20%;
}

#awards h3 {
    font-size: 4rem;
    color: white;
}

#awards p {
    color: #f0f0f0f3;
}

#awards > p {
    text-align: center;
    color: var(--color-text);
}

.vnfinance {
    display: flex;
    text-align: center;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.vnfinance > div {
    background: linear-gradient(145deg, var(--color-primary), var(--color-accent));
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 42%;
}

.vnfinance i {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.vnfinance p, .vnfinance i {
    color: white;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    background: var(--color-bg-main);
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

table tr th, table tr td {
    border-right: 0.2rem solid var(--color-text);
    border-bottom: 0.2rem solid var(--color-text);
    padding: 1rem;
}

table tr th:first-child,
table tr td:first-child {
    border-left: 0.2rem solid var(--color-text);
}

table tr th {
    background: linear-gradient(180deg, var(--color-primary), var(--color-accent));
    font-size: 2rem;
    border-top: solid 0.2rem var(--color-text);
    color: white;
}

/* Rounded corners */
table tr:first-child th:first-child {
    border-top-left-radius: 2rem;
}
table tr:first-child th:last-child {
    border-top-right-radius: 2rem;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 2rem;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 2rem;
}

#registernow {
    text-align: center;
    background: linear-gradient(to right, #e6f0ff, #f0f5ff);

    padding: 5rem 2rem;
    border-radius: 3rem;
}

#registernow a {
    background: linear-gradient(145deg, var(--color-accent-orange), #ff5d22);
    /* background: linear-gradient(to bottom, #5e9b57, #70c383); */
    color: white;
    text-decoration: none;
    padding: 2rem 3rem;
    border-radius: 2rem;
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    font-weight: 800;
    display: inline-block;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

#registernow a:hover {
    background: linear-gradient(145deg, #70c383, var(--color-accent-green));
}

footer {
    background: var(--color-accent-orange);
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    background: linear-gradient(to bottom, var(--color-primary), var(--color-accent));
    margin: 10rem 2% 0 2%;
    padding: 2rem;
}

footer > div {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    row-gap: 2rem !important;
    gap: 5%;
    align-items: center;
    margin: 4rem var(--margin-header);
}

footer > div > div:nth-child(1) {
    width: 40%;
}

footer h1 {
    font-size: 2.5rem !important;
    color: var(--color-bg-main) !important;
    font-weight: 600 !important;
}

footer p {
    color: var(--color-bg-main);
}

footer i {
    margin-right: 1rem;
}

footer a {
    text-decoration: none;
    color: var(--color-bg-main)
}

@media screen and (max-width: 1024px) {
    :root {
        --margin: 2%;
        --margin-header: 0%;
    }
    h1 {
        font-size: 2rem;
    }

    div h1:nth-child(1) {
        font-size: 10rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 3rem;
    }

    body {
        font-size: 1.3rem;
    }

    nav {
        gap: 5%;
        justify-content: center;
        flex-wrap: wrap;
    }

    header {
        height: 55rem;
    }

    header > div{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header > div > div {
        width: fit-content;
    }

    header img {
        width: 60%;
        margin-top: 2rem;
    }

    #about {
        flex-direction: column;
        gap: 2rem;
    }

    #about h2 {
        width: 100%;
        text-align: center;
    }

    #about p {
        width: 100%;
        text-align: center;
    }

    #demographic > div,
    #topics > div {
        flex-direction: column;
        gap: 2rem;
    }

    #theme > div {
        flex-direction: column;
        row-gap: 2rem;
    }

    #theme img, #theme > div > div {
        width: 100%;
        text-align: center;
    }

    #topics {
        background: none;
        padding: 0;
        border-radius: 0;
    }

    #topics > div > div {
        width: 100%;
    }

    .awards > div {
        width: 40%;
    }

    .vnfinance > div {
        width: 100%;
    }

    table tr th,
    table tr td {
        font-size: 1.4rem;
        padding: 0.8rem;
    }

    #registernow a {
        font-size: 1.6rem;
        padding: 1.5rem 2.5rem;
    }

    footer > div {
        flex-direction: column;
        text-align: center;
    }

    footer > div > div:nth-child(1) {
        width: 100%;
    }

    footer h2,
    footer h3,
    footer p {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 45rem;
    }
    header img {
        width: 100%;
    }
    h1 {
        font-size: 1.5rem;
    }

    div h1:nth-child(1) {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2rem;
    }

    body {
        font-size: 1.2rem;
    }

    nav p {
        font-size: 1.4rem;
    }

    .awards > div {
        width: 100%;
    }

    #registernow a {
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }


    table tr th,
    table tr td {
        font-size: 1.2rem;
        padding: 0.6rem;
    }
}
